
.card{
    display: flex;
    width: 100%;
    height: 60%;
    border: solid black;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}
.container{
    display: flex;
}
.Imagencard{
    width: 200px;
    height: 200px;
}
.Boton {
    text-align: center;
    margin: 10px auto;
}
